.dx-tabs .dx-tabs-wrapper .dx-item.dx-tab {
    width: auto;
    padding-left: 20px;
}
.dx-tab-content .dx-icon.dx-icon-close {
    display: inline-block;
    opacity: 0.6;
    margin-right: 0;
    margin-left: 7px;
    font-size: 18px;
}
.dx-sortable-dragging .dx-tab {
    box-sizing: border-box;
    text-align: center;
}
